/* Infinite Canvas Extension Styles */

#ic-container {
    background-color: #222;
    background-image: 
        linear-gradient(45deg, #333 25%, transparent 25%, transparent 75%, #333 75%, #333), 
        linear-gradient(45deg, #333 25%, transparent 25%, transparent 75%, #333 75%, #333);
    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;
}

#ic-canvas {
    display: block;
}

#ic_generate_btn {
    margin-top: 10px;
}

#ic_payload, #ic_output, #ic_trigger, #ic_html_info {
    display: none !important;
}
